In [583]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [587]:
pip freeze

alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appnope==0.1.0
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.7.1
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.0
bokeh==1.2.0
boto==2.49.0
boto3==1.9.241
botocore==1.12.241
Bottleneck==1.2.1
branca==0.3.1
CacheControl==0.12.5
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
cloudpickle==1.2.1
clyent==1.2.2
colorama==0.4.1
comtypes==1.1.7
conda==4.7.10
conda-build==3.18.8
conda-package-handling==1.3.11
conda-verify==3.4.2
contextlib2==0.5.5
cryptography==2.7
cycler==0.10.0
Cython==0.29.12
cytoolz==0.10.0
dash==1.2.0
dash-core-components==1.1.2
dash-html-components==1.0.1
dash-renderer==1.0.1
dash-table==4.2.0
dask==2.1.0
DateTime==4.3
decorator==4.4.0
defusedxml==0.6.0
distributed==2.1.0
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.4.0
folium==0.10.0
future==0.17.1
gevent==1.4.0
glob2==0.7
gmplot==1.2.0
greenlet==0.4.15
gunicorn==19.9.0
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
iso3166==1.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
llvmlite==0.29.0
locket==0.2.0
lxml==4.3.4
mapbox==0.18.0
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
more-itertools==7.0.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numba==0.44.1
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
olefile==0.46
openpyxl==2.6.2
packaging==19.0
palettable==3.2.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
partd==1.0.0
passlib==1.7.1
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pkginfo==1.5.0.1
plotly==4.1.0
plotly-geo==1.0.0
pluggy==0.12.0
ply==3.11
polyline==1.4.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psutil==5.6.3
psycopg2==2.8.3
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.3.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyreadline==2.1
pyrsistent==0.14.11
pyshp==1.2.10
PySocks==1.7.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
requests==2.22.0
retrying==1.3.3
rope==0.14.0
ruamel-yaml==0.15.46
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
splinter==0.11.0
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
statsmodels==0.10.0
sympy==1.4
tables==3.5.2
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.5.0
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
zict==1.0.0
zipp==0.5.1
zope.interface==4.6.0
Note: you may need to restart the kernel to use updated packages.

In [584]:
con = create_engine("sqlite:///data.sqlite")
df = pd.read_sql("scores",con)
df["date"] = df["date"].astype(str)
df.sort_values("date",ascending=True,inplace=True)
# df["scores"] = df.apply(lambda col: df["scores"].str[:-1])

df = df.groupby("name")["scores"].sum()
df = pd.DataFrame(df)
df["scores"] = df.apply(lambda col: df["scores"].str[:-1])
df["scores"] = df["scores"].str.split(",")

df = pd.DataFrame(df["scores"].str[::-1].str[:10])
df["scores"] = df.apply(lambda x: [int(i) for i in x["scores"]],axis=1)

In [585]:
df["games"] = df.apply(lambda x: len(x["scores"]),axis=1)
df["avg"] = (df.apply(lambda x: sum(x["scores"]),axis=1)/df["games"]).round(1)
df["stdev"] = df.apply(lambda x: np.std(x["scores"]),axis=1).round(1)

In [586]:
df[["avg","stdev","games","scores"]].sort_values("avg",ascending=False)

        avg  stdev  games                                             scores
name
윤동규   209.6   37.0     10  [160, 150, 214, 222, 257, 233, 266, 183, 186, ...
권순효   197.4   21.5     10  [213, 229, 211, 201, 225, 170, 162, 183, 183, ...
배현호   196.6   32.4     10  [230, 220, 189, 152, 170, 181, 212, 155, 198, ...
홍기림   194.7   26.7     10  [190, 198, 199, 211, 176, 228, 201, 230, 132, ...
김승용   194.3   30.0     10  [170, 211, 178, 195, 231, 213, 188, 245, 138, ...
김영석   190.3   29.8     10  [172, 215, 234, 184, 217, 191, 214, 191, 150, ...
이민우   189.7   30.6     10  [265, 216, 192, 170, 188, 202, 167, 161, 178, ...
조성환   189.7   24.9      3                                    [166, 224, 179]
안기호   189.0   18.4     10  [196, 200, 188, 170, 214, 177, 171, 166, 224, ...
황만규   185.2   25.0     10  [185, 205, 199, 138, 174, 233, 176, 184, 158, ...
백민수   184.0   32.8     10  [163, 156, 211, 196, 206, 177, 119, 179, 246, ...
차주천   183.5   27.1     10  [187, 159, 222, 161, 223, 160, 142, 176, 194, ...
이민재   183.3   16.8     10  [189, 162, 198, 169, 196, 155, 213, 178, 183, ...
김효진   179.5   25.6     10  [147, 184, 184, 218, 135, 199, 154, 177, 188, ...
이윤용   174.1   25.1     10  [191, 194, 214, 138, 186, 189, 173, 131, 152, ...
김경민   172.6   17.0     10  [186, 171, 182, 166, 211, 145, 171, 174, 161, ...
유수준   168.7   20.8     10  [166, 174, 124, 190, 201, 185, 165, 152, 175, ...
김상훈   168.2   11.2     10  [167, 157, 154, 167, 187, 168, 162, 161, 190, ...
최현철   163.5   22.1     10  [199, 151, 149, 143, 182, 147, 133, 163, 199, ...
조재현   162.6   21.7     10  [147, 187, 168, 152, 114, 166, 164, 160, 199, ...
최승훈   162.4   19.2     10  [168, 215, 157, 147, 157, 165, 168, 151, 146, ...
곽동준   161.6   18.9     10  [153, 192, 144, 164, 193, 160, 139, 136, 171, ...
육경훈   161.5   35.4     10  [188, 221, 162, 142, 185, 138, 210, 125, 123, ...
송혁진   159.7   22.1     10  [172, 141, 196, 171, 135, 148, 165, 193, 131, ...
김태훈   158.5   16.8     10  [181, 175, 184, 153, 128, 166, 145, 154, 146, ...
임미화   158.1   15.7     10  [179, 139, 155, 180, 169, 134, 141, 155, 158, ...
장소현   158.0   31.8     10  [147, 161, 137, 159, 214, 105, 139, 172, 137, ...
허만    157.7   23.0     10  [211, 145, 167, 185, 144, 135, 144, 147, 137, ...
안서연   155.2   25.5     10  [161, 99, 162, 190, 161, 132, 142, 184, 175, 146]
박연수   154.1    9.3     10  [169, 160, 150, 136, 155, 161, 144, 147, 159, ...
...     ...    ...    ...                                                ...
양에스더  150.4   15.6     10  [141, 177, 131, 170, 133, 140, 155, 147, 169, ...
김주희   149.2   33.5     10  [146, 182, 190, 122, 146, 103, 209, 105, 143, ...
오석현   149.2   25.0     10  [163, 157, 94, 121, 158, 185, 170, 133, 160, 151]
최강석   149.1   30.3     10  [160, 152, 213, 124, 190, 140, 107, 145, 135, ...
김지훈   149.0   21.0     10  [127, 146, 121, 155, 137, 166, 200, 148, 148, ...
박지혜   148.3   25.7     10  [122, 154, 125, 132, 195, 131, 146, 126, 193, ...
홍혜란   146.8   24.3     10  [120, 184, 131, 140, 175, 171, 107, 154, 158, ...
전상일   144.2   22.8     10  [150, 138, 105, 136, 170, 129, 159, 124, 142, ...
황승환   144.2   34.6      4                               [183, 120, 101, 173]
김연정   142.3   33.5     10  [226, 149, 123, 136, 129, 121, 122, 181, 114, ...
안형주   141.1   25.3     10  [173, 145, 152, 138, 155, 177, 131, 90, 109, 141]
최가영   138.4   27.6     10  [147, 152, 133, 112, 180, 111, 121, 139, 188, ...
유지혜   137.8   23.7     10  [164, 132, 134, 95, 154, 150, 122, 107, 175, 145]
박태원   135.9   16.1      7                [145, 147, 143, 149, 101, 124, 142]
이민우2  135.7   25.2     10  [126, 151, 166, 177, 150, 139, 122, 89, 129, 108]
김재훈   131.6   17.8     10  [138, 158, 139, 145, 136, 116, 123, 135, 137, 89]
노은주   127.5   18.1     10  [155, 137, 116, 118, 123, 107, 124, 119, 111, ...
김민선   127.1   15.0     10  [141, 148, 133, 146, 116, 118, 137, 107, 119, ...
정현암   126.7   23.0     10  [160, 121, 90, 122, 159, 151, 126, 132, 104, 102]
박민정   122.6   17.4     10  [117, 114, 118, 119, 147, 145, 87, 109, 132, 138]
최연실   122.5   23.9     10   [165, 144, 116, 113, 115, 89, 152, 122, 122, 87]
김한샘   121.7   22.7     10  [162, 109, 161, 131, 104, 97, 102, 102, 120, 129]
김정은   119.2   22.4     10  [103, 115, 105, 84, 125, 169, 117, 114, 146, 114]
정슬기   117.7   21.2     10   [115, 124, 96, 69, 121, 108, 141, 137, 140, 126]
김다혜   115.5   30.4     10     [123, 118, 110, 104, 201, 99, 92, 97, 93, 118]
백하은   108.0   13.5     10     [126, 101, 96, 124, 109, 121, 91, 123, 95, 94]
김유진   107.5   12.8     10     [89, 104, 99, 99, 96, 129, 120, 124, 115, 100]
서인애   105.4   22.5     10      [111, 144, 135, 81, 95, 96, 110, 125, 81, 76]
윤용석    92.3   22.9      3                                      [63, 119, 95]
강예림    65.8   11.5      4                                   [67, 51, 62, 83]

[67 rows x 4 columns]

In [363]:
df["scores"] = df.apply(lambda col: [int(i) for i in list(df["scores"])])

TypeError: ("int() argument must be a string, a bytes-like object or a number, not 'list'", 'occurred at index scores')

In [351]:
df

     scores
name
강예림     NaN
곽동준     NaN
곽승준     NaN
권순효     NaN
김경민     NaN
김다혜     NaN
김대진     NaN
김민선     NaN
김상훈     NaN
김승용     NaN
김연정     NaN
김영석     NaN
김유진     NaN
김윤성     NaN
김재훈     NaN
김정은     NaN
김주희     NaN
김지훈     NaN
김태훈     NaN
김한샘     NaN
김현숙     NaN
김효진     NaN
노은주     NaN
박민정     NaN
박연수     NaN
박지혜     NaN
박태원     NaN
배현호     NaN
백민수     NaN
백하은     NaN
...     ...
오석현     NaN
유수준     NaN
유지혜     NaN
육경훈     NaN
윤동규     NaN
윤용석     NaN
이민우     NaN
이민우2    NaN
이민재     NaN
이윤용     NaN
임미화     NaN
장소현     NaN
전상일     NaN
정슬기     NaN
정현암     NaN
조성환     NaN
조재현     NaN
차주천     NaN
최가영     NaN
최강석     NaN
최승훈     NaN
최연실     NaN
최현철     NaN
평복재     NaN
한가을     NaN
허만      NaN
홍기림     NaN
홍혜란     NaN
황만규     NaN
황승환     NaN

[67 rows x 1 columns]

In [335]:
df["scores"] = df.apply(lambda col: map(int,df["scores"]))

                                                 scores
name
강예림                                        [83, 62, 51]
곽동준   [171, 203, 187, 180, 180, 129, 185, 180, 172, ...
곽승준   [202, 123, 109, 133, 143, 144, 170, 123, 144, ...
권순효   [162, 191, 245, 167, 197, 224, 149, 150, 197, ...
김경민   [177, 161, 194, 149, 152, 166, 180, 180, 172, ...
김다혜   [146, 130, 133, 123, 99, 168, 177, 107, 128, 1...
김대진   [210, 197, 161, 183, 219, 199, 191, 207, 165, ...
김민선   [160, 107, 149, 114, 144, 95, 140, 134, 128, 1...
김상훈   [125, 120, 176, 121, 199, 147, 169, 190, 161, ...
김승용   [159, 216, 156, 182, 142, 157, 160, 195, 138, ...
김연정   [133, 130, 191, 157, 128, 137, 107, 116, 138, ...
김영석   [178, 146, 166, 157, 188, 153, 221, 195, 171, ...
김유진   [109, 90, 85, 70, 102, 100, 115, 124, 120, 129...
김윤성   [169, 180, 169, 136, 167, 211, 168, 170, 172, ...
김재훈   [113, 117, 91, 130, 87, 92, 115, 89, 137, 135,...
김정은   [105, 106, 161, 85, 119, 119, 107, 118, 116, 1...
김주희   [128, 175, 124, 144, 119, 159, 202, 181, 163, ...
김지훈   [114, 134, 138, 132, 175, 150, 108, 165, 154, ...
김태훈   [137, 138, 198, 148, 178, 147, 146, 163, 127, ...
김한샘   [129, 120, 102, 102, 97, 104, 131, 161, 109, 162]
김현숙   [137, 158, 114, 157, 139, 134, 149, 150, 138, ...
김효진   [156, 134, 99, 97, 114, 135, 135, 209, 148, 19...
노은주   [141, 97, 100, 158, 119, 107, 127, 143, 105, 1...
박민정   [97, 93, 101, 126, 135, 124, 139, 111, 147, 10...
박연수   [180, 152, 161, 142, 179, 175, 192, 166, 167, ...
박지혜   [142, 156, 137, 109, 104, 128, 133, 127, 135, ...
박태원                 [142, 124, 101, 149, 143, 147, 145]
배현호   [192, 151, 177, 178, 178, 170, 125, 147, 153, ...
백민수   [178, 166, 151, 128, 182, 131, 177, 161, 158, ...
백하은   [119, 63, 91, 93, 94, 98, 77, 80, 92, 92, 126,...
...                                                 ...
오석현   [128, 81, 106, 92, 90, 108, 67, 110, 155, 121,...
유수준   [158, 190, 190, 205, 193, 171, 173, 181, 178, ...
유지혜   [98, 160, 135, 103, 140, 114, 159, 160, 127, 1...
육경훈   [185, 163, 149, 180, 157, 173, 147, 164, 229, ...
윤동규   [235, 225, 258, 207, 205, 204, 226, 244, 198, ...
윤용석                                       [95, 119, 63]
이민우   [212, 227, 193, 205, 161, 177, 160, 189, 177, ...
이민우2  [163, 155, 119, 161, 108, 129, 89, 122, 139, 1...
이민재   [171, 197, 217, 146, 140, 126, 142, 168, 153, ...
이윤용   [191, 252, 154, 156, 127, 121, 93, 149, 225, 2...
임미화   [185, 161, 157, 179, 105, 148, 108, 139, 166, ...
장소현   [99, 114, 171, 152, 145, 159, 164, 191, 189, 1...
전상일   [189, 142, 124, 159, 129, 170, 136, 105, 138, ...
정슬기   [124, 91, 149, 104, 169, 159, 137, 129, 118, 1...
정현암   [106, 100, 103, 105, 106, 102, 104, 132, 126, ...
조성환                                     [179, 224, 166]
조재현   [142, 148, 141, 175, 176, 147, 187, 173, 154, ...
차주천   [148, 156, 139, 205, 162, 190, 168, 162, 200, ...
최가영   [145, 142, 168, 130, 149, 109, 158, 152, 158, ...
최강석   [87, 99, 100, 129, 114, 145, 150, 123, 101, 12...
최승훈   [170, 140, 153, 189, 112, 164, 147, 123, 181, ...
최연실   [95, 108, 106, 95, 106, 148, 136, 149, 84, 85,...
최현철   [168, 234, 217, 190, 138, 198, 151, 208, 181, ...
평복재   [167, 142, 210, 152, 206, 170, 215, 223, 244, ...
한가을   [126, 117, 129, 190, 187, 140, 162, 152, 116, ...
허만    [183, 201, 206, 155, 169, 159, 177, 185, 171, ...
홍기림   [187, 188, 185, 152, 180, 170, 191, 179, 132, ...
홍혜란   [152, 183, 119, 131, 119, 87, 144, 148, 115, 1...
황만규   [226, 203, 187, 150, 166, 154, 244, 270, 235, ...
황승환                                [173, 101, 120, 183]

[67 rows x 1 columns]

In [297]:
df1["len"] = df.apply(lambda col: df1["scores"].str[0:10])

In [298]:
df1

,scores,len
name,,
강예림,"[83, 62, 51, ]","[83, 62, 51, ]"
곽동준,"[171, 203, 187, 180, 180, 129, 185, 180, 172, ...","[171, 203, 187, 180, 180, 129, 185, 180, 172, ..."
곽승준,"[202, 123, 109, 133, 143, 144, 170, 123, 144, ...","[202, 123, 109, 133, 143, 144, 170, 123, 144, ..."
권순효,"[162, 191, 245, 167, 197, 224, 149, 150, 197, ...","[162, 191, 245, 167, 197, 224, 149, 150, 197, ..."
김경민,"[177, 161, 194, 149, 152, 166, 180, 180, 172, ...","[177, 161, 194, 149, 152, 166, 180, 180, 172, ..."
김다혜,"[146, 130, 133, 123, 99, 168, 177, 107, 128, 1...","[146, 130, 133, 123, 99, 168, 177, 107, 128, 126]"
김대진,"[210, 197, 161, 183, 219, 199, 191, 207, 165, ...","[210, 197, 161, 183, 219, 199, 191, 207, 165, ..."
김민선,"[160, 107, 149, 114, 144, 95, 140, 134, 128, 1...","[160, 107, 149, 114, 144, 95, 140, 134, 128, 100]"
김상훈,"[125, 120, 176, 121, 199, 147, 169, 190, 161, ...","[125, 120, 176, 121, 199, 147, 169, 190, 161, ..."
김승용,"[159, 216, 156, 182, 142, 157, 160, 195, 138, ...","[159, 216, 156, 182, 142, 157, 160, 195, 138, ..."
김연정,"[133, 130, 191, 157, 128, 137, 107, 116, 138, ...","[133, 130, 191, 157, 128, 137, 107, 116, 138, ..."
김영석,"[178, 146, 166, 157, 188, 153, 221, 195, 171, ...","[178, 146, 166, 157, 188, 153, 221, 195, 171, ..."
김유진,"[109, 90, 85, 70, 102, 100, 115, 124, 120, 129...","[109, 90, 85, 70, 102, 100, 115, 124, 120, 129]"
김윤성,"[169, 180, 169, 136, 167, 211, 168, 170, 172, ...","[169, 180, 169, 136, 167, 211, 168, 170, 172, ..."
김재훈,"[113, 117, 91, 130, 87, 92, 115, 89, 137, 135,...","[113, 117, 91, 130, 87, 92, 115, 89, 137, 135]"
김정은,"[105, 106, 161, 85, 119, 119, 107, 118, 116, 1...","[105, 106, 161, 85, 119, 119, 107, 118, 116, 134]"
김주희,"[128, 175, 124, 144, 119, 159, 202, 181, 163, ...","[128, 175, 124, 144, 119, 159, 202, 181, 163, ..."
김지훈,"[114, 134, 138, 132, 175, 150, 108, 165, 154, ...","[114, 134, 138, 132, 175, 150, 108, 165, 154, ..."
김태훈,"[137, 138, 198, 148, 178, 147, 146, 163, 127, ...","[137, 138, 198, 148, 178, 147, 146, 163, 127, ..."
김한샘,"[129, 120, 102, 102, 97, 104, 131, 161, 109, 1...","[129, 120, 102, 102, 97, 104, 131, 161, 109, 162]"
김현숙,"[137, 158, 114, 157, 139, 134, 149, 150, 138, ...","[137, 158, 114, 157, 139, 134, 149, 150, 138, ..."
김효진,"[156, 134, 99, 97, 114, 135, 135, 209, 148, 19...","[156, 134, 99, 97, 114, 135, 135, 209, 148, 190]"
노은주,"[141, 97, 100, 158, 119, 107, 127, 143, 105, 1...","[141, 97, 100, 158, 119, 107, 127, 143, 105, 140]"
박민정,"[97, 93, 101, 126, 135, 124, 139, 111, 147, 10...","[97, 93, 101, 126, 135, 124, 139, 111, 147, 109]"
박연수,"[180, 152, 161, 142, 179, 175, 192, 166, 167, ...","[180, 152, 161, 142, 179, 175, 192, 166, 167, ..."
박지혜,"[142, 156, 137, 109, 104, 128, 133, 127, 135, ...","[142, 156, 137, 109, 104, 128, 133, 127, 135, ..."
박태원,"[142, 124, 101, 149, 143, 147, 145, ]","[142, 124, 101, 149, 143, 147, 145, ]"
배현호,"[192, 151, 177, 178, 178, 170, 125, 147, 153, ...","[192, 151, 177, 178, 178, 170, 125, 147, 153, ..."
백민수,"[178, 166, 151, 128, 182, 131, 177, 161, 158, ...","[178, 166, 151, 128, 182, 131, 177, 161, 158, ..."
백하은,"[119, 63, 91, 93, 94, 98, 77, 80, 92, 92, 126,...","[119, 63, 91, 93, 94, 98, 77, 80, 92, 92]"
...,...,...
오석현,"[128, 81, 106, 92, 90, 108, 67, 110, 155, 121,...","[128, 81, 106, 92, 90, 108, 67, 110, 155, 121]"
유수준,"[158, 190, 190, 205, 193, 171, 173, 181, 178, ...","[158, 190, 190, 205, 193, 171, 173, 181, 178, ..."
유지혜,"[98, 160, 135, 103, 140, 114, 159, 160, 127, 1...","[98, 160, 135, 103, 140, 114, 159, 160, 127, 163]"
육경훈,"[185, 163, 149, 180, 157, 173, 147, 164, 229, ...","[185, 163, 149, 180, 157, 173, 147, 164, 229, ..."
윤동규,"[235, 225, 258, 207, 205, 204, 226, 244, 198, ...","[235, 225, 258, 207, 205, 204, 226, 244, 198, ..."
윤용석,"[95, 119, 63, ]","[95, 119, 63, ]"
이민우,"[212, 227, 193, 205, 161, 177, 160, 189, 177, ...","[212, 227, 193, 205, 161, 177, 160, 189, 177, ..."
이민우2,"[163, 155, 119, 161, 108, 129, 89, 122, 139, 1...","[163, 155, 119, 161, 108, 129, 89, 122, 139, 150]"
이민재,"[171, 197, 217, 146, 140, 126, 142, 168, 153, ...","[171, 197, 217, 146, 140, 126, 142, 168, 153, ..."
이윤용,"[191, 252, 154, 156, 127, 121, 93, 149, 225, 2...","[191, 252, 154, 156, 127, 121, 93, 149, 225, 202]"
임미화,"[185, 161, 157, 179, 105, 148, 108, 139, 166, ...","[185, 161, 157, 179, 105, 148, 108, 139, 166, ..."
장소현,"[99, 114, 171, 152, 145, 159, 164, 191, 189, 1...","[99, 114, 171, 152, 145, 159, 164, 191, 189, 155]"
전상일,"[189, 142, 124, 159, 129, 170, 136, 105, 138, ...","[189, 142, 124, 159, 129, 170, 136, 105, 138, ..."
정슬기,"[124, 91, 149, 104, 169, 159, 137, 129, 118, 1...","[124, 91, 149, 104, 169, 159, 137, 129, 118, 101]"
정현암,"[106, 100, 103, 105, 106, 102, 104, 132, 126, ...","[106, 100, 103, 105, 106, 102, 104, 132, 126, ..."
조성환,"[179, 224, 166, ]","[179, 224, 166, ]"
조재현,"[142, 148, 141, 175, 176, 147, 187, 173, 154, ...","[142, 148, 141, 175, 176, 147, 187, 173, 154, ..."
차주천,"[148, 156, 139, 205, 162, 190, 168, 162, 200, ...","[148, 156, 139, 205, 162, 190, 168, 162, 200, ..."
최가영,"[145, 142, 168, 130, 149, 109, 158, 152, 158, ...","[145, 142, 168, 130, 149, 109, 158, 152, 158, ..."
최강석,"[87, 99, 100, 129, 114, 145, 150, 123, 101, 12...","[87, 99, 100, 129, 114, 145, 150, 123, 101, 125]"
최승훈,"[170, 140, 153, 189, 112, 164, 147, 123, 181, ...","[170, 140, 153, 189, 112, 164, 147, 123, 181, ..."
최연실,"[95, 108, 106, 95, 106, 148, 136, 149, 84, 85,...","[95, 108, 106, 95, 106, 148, 136, 149, 84, 85]"
최현철,"[168, 234, 217, 190, 138, 198, 151, 208, 181, ...","[168, 234, 217, 190, 138, 198, 151, 208, 181, ..."
평복재,"[167, 142, 210, 152, 206, 170, 215, 223, 244, ...","[167, 142, 210, 152, 206, 170, 215, 223, 244, ..."
한가을,"[126, 117, 129, 190, 187, 140, 162, 152, 116, ...","[126, 117, 129, 190, 187, 140, 162, 152, 116, ..."
허만,"[183, 201, 206, 155, 169, 159, 177, 185, 171, ...","[183, 201, 206, 155, 169, 159, 177, 185, 171, ..."
홍기림,"[187, 188, 185, 152, 180, 170, 191, 179, 132, ...","[187, 188, 185, 152, 180, 170, 191, 179, 132, ..."
홍혜란,"[152, 183, 119, 131, 119, 87, 144, 148, 115, 1...","[152, 183, 119, 131, 119, 87, 144, 148, 115, 150]"
황만규,"[226, 203, 187, 150, 166, 154, 244, 270, 235, ...","[226, 203, 187, 150, 166, 154, 244, 270, 235, ..."
황승환,"[173, 101, 120, 183, ]","[173, 101, 120, 183, ]"

In [253]:
df1 = df.pivot(index="name",columns ="date",values="scores").sort_values("name")
df1

date                                         2019-01-01    2019-01-02
name
강예림                                           83,62,51,           NaN
곽동준   171,203,187,180,180,129,185,180,172,219,182,18...           NaN
곽승준   202,123,109,133,143,144,170,123,144,119,101,13...           NaN
권순효   162,191,245,167,197,224,149,150,197,268,194,22...           NaN
김경민   177,161,194,149,152,166,180,180,172,217,196,17...           NaN
김다혜   146,130,133,123,99,168,177,107,128,126,112,109...           NaN
김대진   210,197,161,183,219,199,191,207,165,134,156,18...           NaN
김민선   160,107,149,114,144,95,140,134,128,100,144,136...           NaN
김상훈   125,120,176,121,199,147,169,190,161,162,168,18...           NaN
김승용   159,216,156,182,142,157,160,195,138,157,126,12...           NaN
김연정   133,130,191,157,128,137,107,116,138,153,133,13...           NaN
김영석   178,146,166,157,188,153,221,195,171,136,137,18...           NaN
김유진   109,90,85,70,102,100,115,124,120,129,96,99,99,...           NaN
김윤성   169,180,169,136,167,211,168,170,172,157,190,21...           NaN
김재훈   113,117,91,130,87,92,115,89,137,135,123,116,13...           NaN
김정은   105,106,161,85,119,119,107,118,116,134,99,99,9...           NaN
김주희   128,175,124,144,119,159,202,181,163,109,152,10...           NaN
김지훈   114,134,138,132,175,150,108,165,154,123,102,15...           NaN
김태훈   137,138,198,148,178,147,146,163,127,163,125,14...           NaN
김한샘             129,120,102,102,97,104,131,161,109,162,           NaN
김현숙   137,158,114,157,139,134,149,150,138,118,165,12...           NaN
김효진   156,134,99,97,114,135,135,209,148,190,191,235,...           NaN
노은주   141,97,100,158,119,107,127,143,105,140,166,124...           NaN
박민정   97,93,101,126,135,124,139,111,147,109,106,140,...           NaN
박연수   180,152,161,142,179,175,192,166,167,156,185,13...           NaN
박지혜   142,156,137,109,104,128,133,127,135,137,146,13...           NaN
박태원                        142,124,101,149,143,147,145,           NaN
배현호   192,151,177,178,178,170,125,147,153,173,184,15...           NaN
백민수   178,166,151,128,182,131,177,161,158,185,197,19...           NaN
백하은   119,63,91,93,94,98,77,80,92,92,126,122,90,94,9...           NaN
...                                                 ...           ...
오석현   128,81,106,92,90,108,67,110,155,121,167,108,17...           NaN
유수준   158,190,190,205,193,171,173,181,178,173,182,13...           NaN
유지혜   98,160,135,103,140,114,159,160,127,163,107,159...           NaN
육경훈   185,163,149,180,157,173,147,164,229,142,168,14...           NaN
윤동규   235,225,258,207,205,204,226,244,198,236,245,19...  179,245,208,
윤용석                                          95,119,63,           NaN
이민우   212,227,193,205,161,177,160,189,177,175,162,15...           NaN
이민우2  163,155,119,161,108,129,89,122,139,150,177,166...           NaN
이민재   171,197,217,146,140,126,142,168,153,141,194,18...           NaN
이윤용   191,252,154,156,127,121,93,149,225,202,189,211...           NaN
임미화   185,161,157,179,105,148,108,139,166,146,133,97...           NaN
장소현   99,114,171,152,145,159,164,191,189,155,153,130...           NaN
전상일            189,142,124,159,129,170,136,105,138,150,           NaN
정슬기   124,91,149,104,169,159,137,129,118,101,134,129...           NaN
정현암   106,100,103,105,106,102,104,132,126,151,159,12...           NaN
조성환                                        179,224,166,           NaN
조재현   142,148,141,175,176,147,187,173,154,156,147,17...           NaN
차주천   148,156,139,205,162,190,168,162,200,162,211,19...           NaN
최가영   145,142,168,130,149,109,158,152,158,165,139,11...           NaN
최강석   87,99,100,129,114,145,150,123,101,125,135,145,...           NaN
최승훈   170,140,153,189,112,164,147,123,181,182,159,18...           NaN
최연실   95,108,106,95,106,148,136,149,84,85,89,63,91,9...           NaN
최현철   168,234,217,190,138,198,151,208,181,157,164,19...           NaN
평복재   167,142,210,152,206,170,215,223,244,163,136,15...           NaN
한가을   126,117,129,190,187,140,162,152,116,145,146,15...           NaN
허만    183,201,206,155,169,159,177,185,171,103,193,16...           NaN
홍기림   187,188,185,152,180,170,191,179,132,181,179,17...           NaN
홍혜란   152,183,119,131,119,87,144,148,115,150,127,155...           NaN
황만규   226,203,187,150,166,154,244,270,235,144,158,14...           NaN
황승환                                    173,101,120,183,           NaN

[67 rows x 2 columns]

In [188]:
today = pd.to_datetime("today")

members["passed"] = today - members["DoE"]

# members["passed"] = pd.DatetimeIndex(members['passed'])

members.sort_values("passed",ascending=False)

    name        DoB        DoE                    passed
9    김영석 1986-07-19 2016-07-10 1181 days 11:21:08.089854
1    석정욱 1987-09-09 2016-11-13 1055 days 11:21:08.089854
13   장소현 1991-01-19 2016-11-13 1055 days 11:21:08.089854
8    노은주 1991-11-11 2016-11-13 1055 days 11:21:08.089854
10   육경훈 1989-06-29 2016-11-21 1047 days 11:21:08.089854
11   안서연 1989-06-08 2016-11-26 1042 days 11:21:08.089854
12   정슬기 1986-01-03 2017-02-03  973 days 11:21:08.089854
71   윤동규 1989-05-07 2017-02-15  961 days 11:21:08.089854
6    김현숙 1993-03-29 2017-03-26  922 days 11:21:08.089854
4    김연정 1990-02-04 2017-06-14  842 days 11:21:08.089854
14   평복재 1988-11-21 2017-07-06  820 days 11:21:08.089854
5    박연수 1993-12-30 2017-07-12  814 days 11:21:08.089854
15   곽동준 1992-09-09 2017-08-08  787 days 11:21:08.089854
0    최현철 1985-06-04 2017-09-08  756 days 11:21:08.089854
16  양에스더 1991-09-18 2017-09-15  749 days 11:21:08.089854
17   김태훈 1990-08-27 2017-10-01  733 days 11:21:08.089854
18   홍기림 1988-11-16 2017-10-02  732 days 11:21:08.089854
19   유수준 1987-03-03 2017-11-02  701 days 11:21:08.089854
20   홍혜란 1987-01-11 2017-12-24  649 days 11:21:08.089854
21   김대진 1987-09-02 2018-02-10  601 days 11:21:08.089854
2     허만 1989-08-23 2018-03-19  564 days 11:21:08.089854
7    조재현 1991-02-26 2018-03-23  560 days 11:21:08.089854
22   박지혜 1988-11-24 2018-03-29  554 days 11:21:08.089854
23   김주희 1988-11-30 2018-04-09  543 days 11:21:08.089854
3    김민선 1988-01-11 2018-04-22  530 days 11:21:08.089854
24   유지혜 1991-06-14 2018-04-27  525 days 11:21:08.089854
25   김경민 1988-11-02 2018-05-03  519 days 11:21:08.089854
26   이윤용 1992-02-14 2018-06-17  474 days 11:21:08.089854
27   김정은 1993-07-06 2018-07-20  441 days 11:21:08.089854
28   배현호 1987-08-27 2018-11-05  333 days 11:21:08.089854
..   ...        ...        ...                       ...
42   권순효 1991-10-22 2019-03-20  198 days 11:21:08.089854
43   백하은 1987-11-23 2019-04-21  166 days 11:21:08.089854
44   최가영 1993-11-07 2019-05-24  133 days 11:21:08.089854
45   차주천 1991-11-11 2019-05-24  133 days 11:21:08.089854
46   김재훈 1986-10-24 2019-05-28  129 days 11:21:08.089854
48   김효진 1990-06-18 2019-06-13  113 days 11:21:08.089854
47   김승용 1986-08-06 2019-06-13  113 days 11:21:08.089854
49   김상훈 1986-11-18 2019-06-15  111 days 11:21:08.089854
50   오석현 1992-09-15 2019-06-23  103 days 11:21:08.089854
51   서인애 1990-02-15 2019-06-27   99 days 11:21:08.089854
52   김한샘 1987-05-19 2019-07-15   81 days 11:21:08.089854
53   전상일 1993-12-21 2019-07-18   78 days 11:21:08.089854
54   정현암 1986-07-07 2019-07-27   69 days 11:21:08.089854
55   최강석 1993-11-15 2019-07-28   68 days 11:21:08.089854
56   김다혜 1992-01-06 2019-08-04   61 days 11:21:08.089854
57  이민우2 1987-11-24 2019-08-06   59 days 11:21:08.089854
58   박태원 1990-12-22 2019-08-06   59 days 11:21:08.089854
59   유효준 1988-11-24 2019-08-09   56 days 11:21:08.089854
60   강예림 1991-05-09 2019-08-10   55 days 11:21:08.089854
61   김윤성 1987-02-24 2019-08-15   50 days 11:21:08.089854
62   김유진 1994-04-07 2019-08-20   45 days 11:21:08.089854
63   윤용석 1987-02-02 2019-08-23   42 days 11:21:08.089854
64   황승환 1987-05-30 2019-09-15   19 days 11:21:08.089854
65   이민재 1985-11-15 2019-09-18   16 days 11:21:08.089854
66   이학봉 1993-04-04 2019-09-20   14 days 11:21:08.089854
67   조성환 1985-01-22 2019-09-21   13 days 11:21:08.089854
68   오지호 1986-10-18 2019-09-23   11 days 11:21:08.089854
69   강병호 1990-03-21 2019-09-28    6 days 11:21:08.089854
70   천현원 1993-11-09 2019-09-30    4 days 11:21:08.089854
72    공룡 1989-06-06 2019-10-03    1 days 11:21:08.089854

[73 rows x 4 columns]

In [211]:
inp = "순효,162,191,245,167,197,224,149,150,197,268,194,226,201,199,178,132,200,200,194,216,197,183,183,162,170,225,201,211,229,213,조성환,179,224,166,,,,,,,,,,,,,,,,,,,,,,,,,,,,이민우,212,227,193,205,161,177,160,189,177,175,162,154,150,201,200,240,165,197,150,177,158,178,161,167,202,188,170,192,216,265,황만규,226,203,187,150,166,154,244,270,235,144,158,145,174,193,137,180,165,156,170,181,200,158,184,176,233,174,138,199,205,185"

In [234]:
inp = "동규,123,123,123,아무개,123,123,123"

In [235]:
date = "123"

In [236]:
scores = inp.split(",")
while ("" in scores):
    scores.remove("")

df=pd.DataFrame()
first = 1
count = 0
for i in scores:
    count+=1
    if i.isdigit()==False and first ==1:
        name = i
        indv_scores=[]
        first=0
    elif i.isdigit()==False or count == len(scores):
        apnd = pd.DataFrame({"name":[name],"date":[date],"scores":[indv_scores]})
        df = df.append(apnd)
        name = i
        indv_scores=[]
    if i.isdigit()==True:
        indv_scores.append(int(i))

In [237]:
df

  name date           scores
0   동규  123  [123, 123, 123]
0  아무개  123       [123, 123]

In [122]:
df = pd.DataFrame({"name":["권순효","허만","조재현","동규","박연수","김현숙"]})

In [134]:
notfound = []
for n in df["name"]:
    if n not in list(members["name"]):
        notfound.append(n)
if len(notfound)>0:
    print(f'could not find {notfound} in active members')

could not find ['순효'] in active members

In [117]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)
notfound = []
for n in df["name"]:
    if n not in list(members["name"]):
        notfound.append(n)

In [118]:
notfound

['동규']

In [75]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)
inactive = pd.read_sql("inactive",con)

In [76]:
inp = ["윤동규","허만","꼬봉"]

In [77]:
for i in range(0,len(inp)):
    if inp[i] in list(members["name"]):
        inp.remove(inp[i])

IndexError: list index out of range

In [78]:
inp

['허만', '꼬봉']

In [65]:
if inp[0] in list(members["name"])

True

In [42]:
inp = ["윤동규"]
if inp[0] in names:
    names.remove(inp[0])

In [39]:
names.remove("윤동규")
names

['허만']

In [24]:
df = pd.DataFrame({"index":[],"name":[],"DoB":[],"Doe":[]})

In [27]:
df=pd.DataFrame({"id":[1,2,3,4]})

In [32]:
d = 1

In [36]:
df.index.values = [1]

AttributeError: can't set attribute

In [10]:
df.to_sql()

index    float64
name     float64
DoB      float64
Doe      float64
dtype: object

In [23]:
df = df.astype({"name":"object"})
df = df.astype({"DoB":""})
df = df.astype({"DoE":"datetime32"})
df.dtypes

TypeError: data type 'datetime32' not understood

In [3]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)
# con.table_names()

ValueError: could not convert string to float: '최현철'