In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [208]:
line = "asdf,asdf,asdf,asdf,,"

In [209]:
if line[-1] == ",":
    print("go")
    line = line[:-1]

go

In [210]:
line

'asdf,asdf,asdf,asdf,'

In [186]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)

In [188]:
today = pd.to_datetime("today")

members["passed"] = today - members["DoE"]

# members["passed"] = pd.DatetimeIndex(members['passed'])

members.sort_values("passed",ascending=False)

    name        DoB        DoE                    passed
9    김영석 1986-07-19 2016-07-10 1181 days 11:21:08.089854
1    석정욱 1987-09-09 2016-11-13 1055 days 11:21:08.089854
13   장소현 1991-01-19 2016-11-13 1055 days 11:21:08.089854
8    노은주 1991-11-11 2016-11-13 1055 days 11:21:08.089854
10   육경훈 1989-06-29 2016-11-21 1047 days 11:21:08.089854
11   안서연 1989-06-08 2016-11-26 1042 days 11:21:08.089854
12   정슬기 1986-01-03 2017-02-03  973 days 11:21:08.089854
71   윤동규 1989-05-07 2017-02-15  961 days 11:21:08.089854
6    김현숙 1993-03-29 2017-03-26  922 days 11:21:08.089854
4    김연정 1990-02-04 2017-06-14  842 days 11:21:08.089854
14   평복재 1988-11-21 2017-07-06  820 days 11:21:08.089854
5    박연수 1993-12-30 2017-07-12  814 days 11:21:08.089854
15   곽동준 1992-09-09 2017-08-08  787 days 11:21:08.089854
0    최현철 1985-06-04 2017-09-08  756 days 11:21:08.089854
16  양에스더 1991-09-18 2017-09-15  749 days 11:21:08.089854
17   김태훈 1990-08-27 2017-10-01  733 days 11:21:08.089854
18   홍기림 1988-11-16 2017-10-02  732 days 11:21:08.089854
19   유수준 1987-03-03 2017-11-02  701 days 11:21:08.089854
20   홍혜란 1987-01-11 2017-12-24  649 days 11:21:08.089854
21   김대진 1987-09-02 2018-02-10  601 days 11:21:08.089854
2     허만 1989-08-23 2018-03-19  564 days 11:21:08.089854
7    조재현 1991-02-26 2018-03-23  560 days 11:21:08.089854
22   박지혜 1988-11-24 2018-03-29  554 days 11:21:08.089854
23   김주희 1988-11-30 2018-04-09  543 days 11:21:08.089854
3    김민선 1988-01-11 2018-04-22  530 days 11:21:08.089854
24   유지혜 1991-06-14 2018-04-27  525 days 11:21:08.089854
25   김경민 1988-11-02 2018-05-03  519 days 11:21:08.089854
26   이윤용 1992-02-14 2018-06-17  474 days 11:21:08.089854
27   김정은 1993-07-06 2018-07-20  441 days 11:21:08.089854
28   배현호 1987-08-27 2018-11-05  333 days 11:21:08.089854
..   ...        ...        ...                       ...
42   권순효 1991-10-22 2019-03-20  198 days 11:21:08.089854
43   백하은 1987-11-23 2019-04-21  166 days 11:21:08.089854
44   최가영 1993-11-07 2019-05-24  133 days 11:21:08.089854
45   차주천 1991-11-11 2019-05-24  133 days 11:21:08.089854
46   김재훈 1986-10-24 2019-05-28  129 days 11:21:08.089854
48   김효진 1990-06-18 2019-06-13  113 days 11:21:08.089854
47   김승용 1986-08-06 2019-06-13  113 days 11:21:08.089854
49   김상훈 1986-11-18 2019-06-15  111 days 11:21:08.089854
50   오석현 1992-09-15 2019-06-23  103 days 11:21:08.089854
51   서인애 1990-02-15 2019-06-27   99 days 11:21:08.089854
52   김한샘 1987-05-19 2019-07-15   81 days 11:21:08.089854
53   전상일 1993-12-21 2019-07-18   78 days 11:21:08.089854
54   정현암 1986-07-07 2019-07-27   69 days 11:21:08.089854
55   최강석 1993-11-15 2019-07-28   68 days 11:21:08.089854
56   김다혜 1992-01-06 2019-08-04   61 days 11:21:08.089854
57  이민우2 1987-11-24 2019-08-06   59 days 11:21:08.089854
58   박태원 1990-12-22 2019-08-06   59 days 11:21:08.089854
59   유효준 1988-11-24 2019-08-09   56 days 11:21:08.089854
60   강예림 1991-05-09 2019-08-10   55 days 11:21:08.089854
61   김윤성 1987-02-24 2019-08-15   50 days 11:21:08.089854
62   김유진 1994-04-07 2019-08-20   45 days 11:21:08.089854
63   윤용석 1987-02-02 2019-08-23   42 days 11:21:08.089854
64   황승환 1987-05-30 2019-09-15   19 days 11:21:08.089854
65   이민재 1985-11-15 2019-09-18   16 days 11:21:08.089854
66   이학봉 1993-04-04 2019-09-20   14 days 11:21:08.089854
67   조성환 1985-01-22 2019-09-21   13 days 11:21:08.089854
68   오지호 1986-10-18 2019-09-23   11 days 11:21:08.089854
69   강병호 1990-03-21 2019-09-28    6 days 11:21:08.089854
70   천현원 1993-11-09 2019-09-30    4 days 11:21:08.089854
72    공룡 1989-06-06 2019-10-03    1 days 11:21:08.089854

[73 rows x 4 columns]

In [211]:
inp = "순효,162,191,245,167,197,224,149,150,197,268,194,226,201,199,178,132,200,200,194,216,197,183,183,162,170,225,201,211,229,213,조성환,179,224,166,,,,,,,,,,,,,,,,,,,,,,,,,,,,이민우,212,227,193,205,161,177,160,189,177,175,162,154,150,201,200,240,165,197,150,177,158,178,161,167,202,188,170,192,216,265,황만규,226,203,187,150,166,154,244,270,235,144,158,145,174,193,137,180,165,156,170,181,200,158,184,176,233,174,138,199,205,185"

In [226]:
inp = "동규,123,123,123,아무개,123,123,123"

In [227]:
date = "123"

In [228]:
scores = inp.split(",")
while ("" in scores):
    scores.remove("")

df=pd.DataFrame()
first = 1
for i in scores:
    if i.isdigit()==False and first ==1:
        name = i
        indv_scores=[]
        first=0
    elif i.isdigit()==False or i == scores[-1]:
        apnd = pd.DataFrame({"name":[name],"date":[date],"scores":[indv_scores]})
        df = df.append(apnd)
        name = i
        indv_scores=[]
    if i.isdigit()==True:
        indv_scores.append(int(i))

In [229]:
df

  name date           scores
0   동규  123  [123, 123, 123]

In [122]:
df = pd.DataFrame({"name":["권순효","허만","조재현","동규","박연수","김현숙"]})

In [134]:
notfound = []
for n in df["name"]:
    if n not in list(members["name"]):
        notfound.append(n)
if len(notfound)>0:
    print(f'could not find {notfound} in active members')

could not find ['순효'] in active members

In [117]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)
notfound = []
for n in df["name"]:
    if n not in list(members["name"]):
        notfound.append(n)

In [118]:
notfound

['동규']

In [75]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)
inactive = pd.read_sql("inactive",con)

In [76]:
inp = ["윤동규","허만","꼬봉"]

In [77]:
for i in range(0,len(inp)):
    if inp[i] in list(members["name"]):
        inp.remove(inp[i])

IndexError: list index out of range

In [78]:
inp

['허만', '꼬봉']

In [65]:
if inp[0] in list(members["name"])

True

In [42]:
inp = ["윤동규"]
if inp[0] in names:
    names.remove(inp[0])

In [39]:
names.remove("윤동규")
names

['허만']

In [24]:
df = pd.DataFrame({"index":[],"name":[],"DoB":[],"Doe":[]})

In [27]:
df=pd.DataFrame({"id":[1,2,3,4]})

In [32]:
d = 1

In [36]:
df.index.values = [1]

AttributeError: can't set attribute

In [10]:
df.to_sql()

index    float64
name     float64
DoB      float64
Doe      float64
dtype: object

In [23]:
df = df.astype({"name":"object"})
df = df.astype({"DoB":""})
df = df.astype({"DoE":"datetime32"})
df.dtypes

TypeError: data type 'datetime32' not understood

In [3]:
con = create_engine("sqlite:///data.sqlite")
members = pd.read_sql("members",con)
# con.table_names()

ValueError: could not convert string to float: '최현철'